@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  padding: 0;
  color: white !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container-left {
  padding-inline: 1rem;
  height: 90vh;
  background-color: black;
}
/*start - style scrollbar container sinistro*/
.container-left::-webkit-scrollbar {
  width: 12px;
}
.container-left::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.container-left::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
}
/*end - style scrollbar container sinistro*/

.container-center {
  padding-inline: 1rem;
  
  height: 90vh;
  background: #212121;
  background: linear-gradient(180deg, rgb(50, 50, 50) 0%, rgba(18, 18, 18, 1) 58%);
}

/*start - style scrollbar container centrale*/
.container-center::-webkit-scrollbar {
  width: 12px;
}
.container-center::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.container-center::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
}
/*end - style scrollbar container centrale*/

.container-right {
  padding-inline: 1rem;
  
  height: 90vh;
  background-color: black;
}

.footer {
  padding-inline: 1rem;
  height: 10vh;
  background-color: #181818;
}

li {
  margin-top: 10px;
}

.heart {
  padding: 3px;
  border-radius: 10%;
  background: rgb(0, 0, 0);
  background: linear-gradient(228deg, rgba(0, 0, 0, 0.42482930672268904) 0%, rgba(100, 100, 100, 1) 100%);
}

.plus {
  padding: 3px;
  border-radius: 10%;
  background: rgb(160, 143, 207);
}

.likes {
  padding: 3px;
  border-radius: 10%;
  background: #02876d;
}

li > i {
  padding: 3px;
}

ul {
  margin-left: -2rem;
  list-style: none;
}

.left {
  width: 30px;
  height: 30px;
  background-color: black;
}

.right {
  width: 30px;
  height: 30px;
  background-color: black;
}

.icona img {
  width: 30px;
}

.card-img-top {
  border-radius: 20px !important;
  height: 60%;
}
#card {
  position: relative !important;
}
#icon {
  position: absolute !important;
  top: 17px;
  left: 21px;
}
.jumbotron {
  height: 35%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(185deg, rgb(50, 50, 50) 0%, rgba(18, 18, 18, 1) 70%);
  /* background: linear-gradient(228deg, rgba(0,0,0,0.42482930672268904) 0%, rgba(30,30,30,1) 100%);; */
}

.immagine img {
  height: 85%;
  margin: 20px;
  
}

.title p {
  font-size: small;
}

#b-play {
  background-color: #1ed760 !important;
  padding-inline: 25px;
  margin-right: 10px;
}

#b-save {
  padding-inline: 25px;
}

#dots {
  margin-left: 10px;
}

#hidden {
  background-color: #313131;
  border-color: #313131;
  font-size: x-small;
  margin: 10px;
}
.footerimg {
  height: 50px !important;
}
footer h5,
p {
  font-size: smaller !important;
}
#iconMusic {
  font-size: xx-large !important;
  gap: 30px !important;
}
#range {
  width: 450px;
}
.right-footer {
  font-size: x-large;
  gap: 10px !important;
}

#containerCards {
  max-height: calc(100vh - 455px);
}

#containerCards::-webkit-scrollbar {
  width: 12px;
}
#containerCards::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
#containerCards::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
}

#trackList::-webkit-scrollbar {
  width: 12px;
}
#trackList::-webkit-scrollbar-track {
  background-color: transparent;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
#trackList::-webkit-scrollbar-thumb {
  background-color: #4d4d4d;
}
